body{
    margin: 0;
    font-family: 'Oxanium', sans-serif;
    background-color: #dceaff;
    color: black;

    background-image:
        linear-gradient(#000000 1px, transparent 1px),
        linear-gradient(90deg, #000 1px, transparent 1px);
    background-size: 90px 90px;
}

.home{
    text-align: center;
    margin-top: 200px;
}

.home h1{
    font-size: 60px;
    margin-bottom: -5px;
}
.home h2{
    font-weight: normal;
    font-size: 40px;
}

.guide{
    width: 700px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    background: #c1d8fa;
    border: 2px solid black;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.guide p{
    font-size: 25px;
}

.button {
    display: block;
    width: fit-content;
    padding: 15px 30px;
    margin: 10px auto 20px;
    background: #d0e3ff;
    color: black;
    border: 2px solid black;
    border-radius: 12px;
    font-family: 'Oxanium';
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.button:hover {
    transform: translateY(-5px);
    background: #bfd7fc;
    color: white;
}